@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Values */
  --main-bg: #042F2E;
  --wrapper-bg: #134E4A;
  --button-bg: #22D3EE;
  --stroke-color: rgba(120, 237, 255, .5);
  --stroke-color-focus: rgb(7, 220, 253);;
  --btn-fg: #042F2E;
  --placeholder-fg: #0D9286;
  --labels: #22D3EE; /* the same as nav button bd left if active or fg */
  --main-text: #FFFFFF;
  --data-fg: #F0FDFA;

  /* Nav Bar */
  --button-fg-main: #7FC9D3;
  --button-active-bg: #217771;
  --button-border-active: 1.5px;

  /* Measurements */
  --btn-stroke-w: .5px;
  --corner-radius-btn: 3px;
  --input-radius: 8px;
  --btn-stroke-alpha: 50%;
  --button-active-alpha: 25%;

  /* Typography */
  --poppins-font: 'Poppins', serif;
  --roboto-font: sans-serif, 'Roboto';
}
